* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url('../img/background.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header > div {
    width: 100%;
    text-align: right;
}
header > div > nav > a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 20px;
    text-align: right;
    word-spacing: 50px;
    padding-right: 30px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
}

header > div > nav > a:hover {
    transform: scale(1.2);
}


main {
    padding: 0 24px 0 48px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    gap: 35px;
}
main > img {
    width: 100%;
}


main > div > h1 {
    padding-top: 180px;
    padding-left: 40px;
    color: rgb(28, 95, 126);
    font-weight: bold;
    
}

.navi {
    padding: 8px 16px;
    display: flex;
    gap: 30px;
    transition: all 0.3s ease;
    color: #333;
}

.navi > a:hover {
    
    transform: translateY(5px);
    color: #333;
    background: grey;
    color: aliceblue;
}

main > div > p {
    color: rgb(12, 168, 209);
    padding-left: 40px;
    margin-top: 15px;
    width: 50%;
    
}

main > div > nav > a {
    padding: 14px 24px;
    text-decoration: none;
    margin: 2px;
    display: inline-block;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 60px;
}

.links2 > a:nth-child(1) {
    color: white;
    background-color: rgb(12, 168, 209);
    
}

.links2 > a:nth-child(2) {
    color: white;
    background-color: rgb(28, 95, 126); 
}

.links2 > a:hover {
    box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.5);
}


